In [1]:
import pandas as pd
import requests
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
data_path = "raw/application_data_cleaned_v1.csv"

In [3]:
defaulters_data = pd.read_csv(data_path)
defaulters_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,ORGANIZATION_TYPE
0,100002,1,Cash loans,M,N,Y,202500.0,406597.5,24700.5,351000.0,...,1,1,0,1,1,0,Laborers,2,2,Business Entity Type 3
1,100031,1,Cash loans,F,N,Y,112500.0,979992.0,27076.5,702000.0,...,1,1,0,1,0,0,Cooking staff,3,2,Business Entity Type 3
2,100047,1,Cash loans,M,N,Y,202500.0,1193580.0,35028.0,855000.0,...,1,1,0,1,0,0,Laborers,2,2,Business Entity Type 3
3,100049,1,Cash loans,F,N,N,135000.0,288873.0,16258.5,238500.0,...,1,1,1,1,1,0,Sales staff,3,3,Self-employed
4,100096,1,Cash loans,F,N,Y,81000.0,252000.0,14593.5,252000.0,...,1,0,0,1,0,0,NaN,2,2,XNA

In [4]:
defaulters_data["SK_ID_CURR"].count()

199998

In [5]:
defaulters_df = defaulters_data.loc[defaulters_data["TARGET"] == 1]
defaulters_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,ORGANIZATION_TYPE
0,100002,1,Cash loans,M,N,Y,202500.0,406597.5,24700.5,351000.0,...,1,1,0,1,1,0,Laborers,2,2,Business Entity Type 3
1,100031,1,Cash loans,F,N,Y,112500.0,979992.0,27076.5,702000.0,...,1,1,0,1,0,0,Cooking staff,3,2,Business Entity Type 3
2,100047,1,Cash loans,M,N,Y,202500.0,1193580.0,35028.0,855000.0,...,1,1,0,1,0,0,Laborers,2,2,Business Entity Type 3
3,100049,1,Cash loans,F,N,N,135000.0,288873.0,16258.5,238500.0,...,1,1,1,1,1,0,Sales staff,3,3,Self-employed
4,100096,1,Cash loans,F,N,Y,81000.0,252000.0,14593.5,252000.0,...,1,0,0,1,0,0,NaN,2,2,XNA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24820,456186,1,Cash loans,M,N,N,207000.0,450000.0,32746.5,450000.0,...,1,1,1,1,0,0,Laborers,3,3,Business Entity Type 3
24821,456215,1,Cash loans,F,N,N,144000.0,1303200.0,46809.0,1125000.0,...,1,1,1,1,0,0,Laborers,2,2,Construction
24822,456225,1,Cash loans,M,N,Y,225000.0,297000.0,19975.5,297000.0,...,1,1,0,1,1,0,Managers,2,2,Business Entity Type 3
24823,456233,1,Cash loans,F,N,Y,225000.0,521280.0,23089.5,450000.0,...,1,1,0,1,0,0,Sales staff,2,2,Business Entity Type 3
24824,456254,1,Cash loans,F,N,Y,171000.0,370107.0,20205.0,319500.0,...,1,1,0,1,0,0,Laborers,2,2,Business Entity Type 1

In [6]:
non_defaulters_df = defaulters_data.loc[defaulters_data["TARGET"] == 0]
non_defaulters_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,ORGANIZATION_TYPE
24825,100003,0,Cash loans,F,N,N,270000.0,1293502.5,35698.5,1129500.0,...,1,1,0,1,1,0,Core staff,1,1,School
24826,100004,0,Revolving loans,M,Y,Y,67500.0,135000.0,6750.0,135000.0,...,1,1,1,1,1,0,Laborers,2,2,Government
24827,100006,0,Cash loans,F,N,Y,135000.0,312682.5,29686.5,297000.0,...,1,1,0,1,0,0,Laborers,2,2,Business Entity Type 3
24828,100007,0,Cash loans,M,N,Y,121500.0,513000.0,21865.5,513000.0,...,1,1,0,1,0,0,Core staff,2,2,Religion
24829,100008,0,Cash loans,M,N,Y,99000.0,490495.5,27517.5,454500.0,...,1,1,1,1,1,0,Laborers,2,2,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,321050,0,Cash loans,M,Y,Y,675000.0,473760.0,49878.0,450000.0,...,1,1,0,1,0,0,Laborers,2,2,Construction
199994,321052,0,Cash loans,M,Y,Y,450000.0,1002870.0,42619.5,922500.0,...,1,1,0,1,0,0,Managers,2,2,Construction
199995,321053,0,Revolving loans,M,Y,Y,450000.0,1350000.0,67500.0,1350000.0,...,1,1,0,1,0,0,Managers,1,1,Business Entity Type 3
199996,321054,0,Cash loans,F,N,Y,202500.0,331920.0,18135.0,225000.0,...,1,1,0,1,0,0,Core staff,2,2,School
199997,321055,0,Cash loans,F,Y,N,202500.0,592560.0,35937.0,450000.0,...,1,1,0,1,0,0,Laborers,2,2,Business Entity Type 3